In [90]:
#Importando Bibliotecas
import pandas as pd
import statistics as sts

In [91]:
#Lendo Arquivo CSV
dataset = pd.read_csv('./tempo.csv',sep=';')

### Conferindo DataSet

In [92]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [93]:
#Verificando Tamanho do Dataset
dataset.shape

(14, 5)

In [94]:
# Verificando coluna categoria Aparencia
dataset.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [95]:
# Verificando coluna categoria Vento
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [96]:
# Verificando coluna categoria Jogar
dataset.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

In [97]:
#Verificando Valores Nulos
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [98]:
#Verificando DataType
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Aparencia    14 non-null     object
 1   Temperatura  14 non-null     int64
 2   Umidade      13 non-null     float64
 3   Vento        13 non-null     object
 4   Jogar        14 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 688.0+ bytes

### Manipulando DataSet

#### Coluna Aparencia

In [99]:
#Verificando Coluna Aparencia
dataset.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [100]:
#Ajustando Coluna Aparencia
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = sts.mode(dataset['Aparencia'])

In [101]:
#Verificando Coluna Aparencia
dataset.groupby(['Aparencia']).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

#### Coluna Temperatura

In [102]:
#Verificando Coluna Temperatura
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [103]:
#Ajustando Coluna Aparencia
dataset.loc[dataset['Temperatura'] > 130 , 'Temperatura'] = sts.median(dataset['Temperatura'])
dataset.loc[dataset['Temperatura'] < -130 , 'Temperatura'] = sts.median(dataset['Temperatura'])

In [104]:
#Verificando Coluna Temperatura
dataset['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

####Coluna Umidade

In [105]:
#Verificando Coluna Umidade
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [106]:
#Ajustando Coluna Umidade
dataset.loc[dataset['Umidade'] > 100 , 'Umidade'] = sts.median(dataset['Umidade'])
dataset.loc[dataset['Umidade'] < 0 , 'Umidade'] = sts.median(dataset['Umidade'])
dataset['Umidade'].fillna(sts.median(dataset['Umidade']),inplace=True)

In [107]:
#Verificando Coluna Umidade
dataset['Umidade'].describe()

count    14.000000
mean     81.285714
std       9.585073
min      65.000000
25%      71.250000
50%      85.250000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

####Coluna Vento

In [108]:
#Verificando Coluna Vento
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [109]:
#Ajustando Coluna Vento
dataset['Vento'].fillna(sts.mode(dataset['Vento']),inplace=True)

In [110]:
#Verificando Coluna Vento
dataset.groupby(['Vento']).size()

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

### Validando DataSet

In [111]:
#Verificando Tamanho do Dataset
dataset.shape

(14, 5)

In [112]:
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [113]:
dataset.head(15)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao